@model StudentManagementSystem.Business.StudentBusiness.Dto.NewStudentInformationDto
@{
    ViewData["Title"] = "Index";
}
<style>
    .stepContainer {
        height:350px !important;
    }
</style>
<link href="~/gentelella/css/nprogress.css" rel="stylesheet" />

<form id="demo-form2" asp-action="RegisterNewStudent" asp-controller="StudentRegistration" asp-area="Management" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">


    <div class="x_panel col-md-8 col-md-offset-2">
        <div class="x_title">
            <h2>Population Information</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- Tabs -->
            <div id="wizard_verticle" class="form_wizard wizard_verticle">
                <ul class="list-unstyled wizard_steps">
                    <li>
                        <a href="#step-11">
                            <span class="step_no">1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-22">
                            <span class="step_no">2</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-33">
                            <span class="step_no">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-44">
                            <span class="step_no">4</span>
                        </a>
                    </li>
                </ul>

                <div id="step-11">
                    <h2 class="StepTitle">Population Information</h2>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">
                            Nationality <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="NewUserDto.PersonDto.PopulationInformationDto.Nationality" required="required"
                                   class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">
                            MotherName <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="NewUserDto.PersonDto.PopulationInformationDto.MotherName" required="required"
                                   class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">
                            Father Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="NewUserDto.PersonDto.PopulationInformationDto.FatherName" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">
                            Date Of Birth <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="NewUserDto.PersonDto.PopulationInformationDto.BirthDay" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">
                            Place Of Birth <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="NewUserDto.PersonDto.PopulationInformationDto.BirthPlace" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                    </div>
                </div>
                <div id="step-22">
                    <h2 class="StepTitle">Person Information</h2>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">
                            PhotoUrl <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="NewUserDto.PersonDto.PhotoUrl" required="required"
                                   class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">
                            Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="NewUserDto.PersonDto.Name" required="required"
                                   class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">
                            Surname <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="NewUserDto.PersonDto.Surname" required="required"
                                   class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                </div>
                <div id="step-33">
                    <h2 class="StepTitle">User Information</h2>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">
                            Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="NewUserDto.Email" required="required"
                                   class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">
                            UserName <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="NewUserDto.UserName" required="required"
                                   class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">
                            Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="NewUserDto.Password" required="required"
                                   class="form-control col-md-7 col-xs-12" type="password">
                        </div>
                    </div>
                </div>
                <div id="step-44">
                    <h2 class="StepTitle">Student Information</h2>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">
                            Student Number <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="StudentNumber" required="required"
                                   class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- End SmartWizard Content -->


        </div>
    </div>

</form>
@section Scripts{
    <!-- FastClick -->
    <script src="~/gentelella/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/gentelella/js/nprogress.js"></script>

    <script src="~/gentelella/js/jquery.smartWizard.js"></script>
}