@model Example.CoreShareds.GenericResult<bool>
@using Example.CoreShareds
@{
    ViewData["Title"] = "RegisterNewStudent";
}
<div class="x_panel col-md-8 col-md-offset-2">
    <div class="x_title">
        <h2>Register Result</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-md-12">
            @if (Model.IsSucceed)
            {
                <span> Registration is done.</span>
            }
            else
            {
                <span>@Model.GetAllMessage()</span>
            }

        </div>
        <div class="clearfix"></div>
    </div>
</div>