@using Example.CoreShareds
@model Example.CoreShareds.GenericResult<List<StudentManagementSystem.BLL.Courses.Dto.StudentCourseScoreListDto>>
@{
    Layout = null;
}


@if (!Model.IsSucceed)
{
    <div>@Model.GetAllMessage()</div>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Score</th>
                <th>IsDeleted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data.OrderBy(x => x.Deleted))
            {
                <tr>
                    <td>@item.Score</td>
                    <td>@Html.Raw(item.Deleted ? "<span style='color:red'>YES</span>" : "NO")</td>
                </tr>
            }
        </tbody>
    </table>
}

