@{
    ViewData["Title"] = "Home Page";
}
<style>
    .select2-raw-content-text {
        float: left;
        line-height: 50px;
        padding: 3px 15px;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<div class="x_panel col-md-8 col-md-offset-2">
    <div class="x_title">
        <h2>Choose Student</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

            <div class="form-group">

                <div class="col-md-12">
                    <select class="form-control" id="studentSelect"></select>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="ln_solid"></div>
            <div id="studentInformationDiv">

            </div>

        </form>

    </div>
</div>
@section Scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>

$("#studentSelect").select2({
    ajax: {
        url: "Home/Search",
        dataType: 'json',
        delay: 250,
        data: function (params) {
            return {
                query: params.term, // search term
            };
        },
        processResults: function (result, params) {
            console.log(result);

            if (result.IsSucceed) {
                if (result.Data.length > 0)
                    return {
                        results: result.Data.map(obj => {
                            obj.id = obj.Item1;
                            obj.text = obj.Item2;
                            return obj;
                        })
                    };
                else
                    return {
                        results: []
                    };
            }
            else {
                sms.toastGenericResult(result);
                return {
                    results: []
                };
            }

        },
        cache: false
    },
    placeholder: 'Search for a student',
    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
    minimumInputLength: 1,
    templateResult: formatState,
    //templateSelection: formatState
});

$("#studentSelect").change(function () {
    $.get("/Home/SelectStudent/" + $("#studentSelect").val(), function (result) {
        sms.toastGenericResult(result);
    });
});
function formatState(state) {
    if (state.loading || state.Item3 == null || state.Item3 == "") {
        return state.text;
    }
    state.id = state.Item1;

    var $state = $(
        '<div class="col-xs-12"><div style="float:left"><img src="' + state.Item3 + '" class="img img-responsive" style="width:50px !important;"/> </div><div class="select2-raw-content-text">' + state.Item2 + " - " + state.Item4 + '</div></div> <div class="clearfix"><div>'
    );
    return $state;
};

</script>
}